<div class="password" ng-controller="pwdCtrl">
    <div class="panel panel-default">
        <div class="panel-heading ">
            <strong>修改密码</strong>
        </div>
        <form class="pwd-group" name="theForm">
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.oldPwd.$invalid">*</span>
                    输入旧密码
                </label>
                <input type="password" placeholder="请输入旧密码" name="oldPwd" ng-minlength="6" ng-maxlength="16" required ng-model="oldPwd">
                <span class="message-error" ng-if="theForm.oldPwd.$dirty" ng-messages="theForm.oldPwd.$error">
                    <span ng-message="minlength">*密码长度至少为6</span>
                    <span ng-message="maxlength">*密码长度不能超过16</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.newPwd.$invalid">*</span>
                    设置新密码
                </label>
                <input type="password" placeholder="请输入新密码" name="newPwd" ng-minlength="6" ng-maxlength="16" required ng-model="newPwd">
                <span class="message-error" ng-if="theForm.newPwd.$dirty" ng-messages="theForm.newPwd.$error">
                    <span ng-message="minlength">*密码长度至少为6</span>
                    <span ng-message="maxlength">*密码长度不能超过16</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.confirmPwd.$invalid">*</span>
                    确认新密码
                </label>
                <input type="password" placeholder="请再次输入并确认新密码" name="confirmPwd" ng-minlength="6" ng-maxlength="16" required ng-model="confirm">
                <span class="message-error" ng-if="theForm.confirmPwd.$dirty" ng-messages="theForm.confirmPwd.$error">
                    <span ng-message="minlength">*密码长度至少为6</span>
                    <span ng-message="maxlength">*密码长度不能超过16</span>
                </span>
                <div class="message" ng-show="theForm.newPwd.$valid">
                    <span ng-if="confirm !== newPwd">*两次密码输入不一致</span>
                </div>
                <div class="message">{{errorMessage}}</div>
            </div>

            <div class="form-group">
                <input type="submit" class="btn-info btn" value="保存" ng-click="changePwd()" ng-disabled="theForm.$invalid || confirm !== newPwd" disabled="disabled">
            </div>
        </form>
    </div>
</div>