<div class="password" ng-controller="changeIdCtrl">
    <div class="panel panel-default">
        <div class="panel-heading ">
            <strong>账户新增</strong>
        </div>
        <form class="pwd-group" name="theForm">
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.user.$invalid">*</span>
                    登&ensp;录&ensp;名
                </label>
                <input type="text" placeholder="请输入登录名" name="user" ng-minlength="6" ng-maxlength="20" required  ng-model="user">
                <span class="message-error" ng-if="theForm.user.$dirty" ng-messages="theForm.user.$error">
                    <span ng-message="minlength">*登录名长度至少为6</span>
                    <span ng-message="maxlength">*登录名长度不能超过20</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.roleID.$invalid">*</span>
                    角&emsp;&emsp;色
                </label>
                <select name="roleID" class="select-role" required ng-model="roleID" ng-options="date.id as date.name for date in roleList">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.newPwd.$invalid">*</span>
                    密&emsp;&emsp;码
                </label>
                <input type="password" placeholder="请输入密码" name="newPwd" ng-minlength="6" ng-maxlength="16" required ng-model="newPwd">
                <span class="message-error" ng-if="theForm.newPwd.$dirty" ng-messages="theForm.newPwd.$error">
                    <span ng-message="minlength">*密码长度至少为6</span>
                    <span ng-message="maxlength">*密码长度不能超过16</span>
                </span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <span class="required" ng-if="theForm.confirmPwd.$invalid">*</span>
                    密码确认
                </label>
                <input type="password" placeholder="请再次输入并确认密码" name="confirmPwd" ng-minlength="6" ng-maxlength="16" required ng-model="confirm">
                <span class="message-error" ng-if="theForm.confirmPwd.$dirty" ng-messages="theForm.confirmPwd.$error">
                    <span ng-message="minlength">*密码长度至少为6</span>
                    <span ng-message="maxlength">*密码长度不能超过16</span>
                </span>
                <div class="message" ng-show="theForm.newPwd.$valid && theForm.confirmPwd.$valid">
                    <span ng-if="confirm !== newPwd">*两次密码输入不一致</span>
                </div>
            </div>
            <div class="addId-btn">
                <input type="submit" value="保存" class="btn btn-success" ng-click="saveUser()" ng-disabled="theForm.$invalid" disabled="disabled">
                <input type="submit" value="取消" class="btn btn-info btn-cancel" ui-sref="welcome.id">
            </div>
        </form>
    </div>
</div>