@charset "UTF-8";
/*账户列表*/
.account-content .panel-default > .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid #c9c9c9;
  color: #000;
  background-color: #fff; }
.account-content .table-bordered > thead > tr > th, .account-content .table-bordered > tbody > tr > td {
  text-align: center;
  vertical-align: middle; }
.account-content .table-bordered > thead > tr > th {
  border-bottom: none; }
.account-content .table-bordered > tbody > tr > td {
  padding: 1.5rem 1rem; }

/*角色管理*/
.role-content .panel-default > .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .1rem solid #c9c9c9;
  color: #000;
  background-color: #fff; }
.role-content .table-bordered > thead > tr > th, .role-content .table-bordered > tbody > tr > td {
  text-align: center;
  vertical-align: middle; }
.role-content .table-bordered > thead > tr > th {
  border-bottom: none; }
.role-content .table-bordered > tbody > tr > td {
  padding: 1.3rem 1rem; }

.roleNew-content {
  padding: 5rem 0; }

.roleNew .panel-default > .panel-heading {
  background: #fff;
  color: #000;
  font-weight: 600;
  border-bottom: .1rem solid #c9c9c9; }

.account-search {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  margin-bottom: 2rem;
  border: .1rem solid #c9c9c9;
  background: #fff; }

.password .panel-default > .panel-heading {
  border-bottom: .1rem solid #c9c9c9;
  color: #000;
  background-color: #fff; }
.password .required {
  position: absolute;
  left: -1rem;
  color: red; }
.password .control-label {
  position: relative; }
.password .message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -.5rem;
  color: red; }
.password .form-group {
  position: relative;
  margin: 0;
  text-align: center; }
.password .message-error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: red; }

.select-group {
  display: flex; }
  .select-group span {
    margin-right: 3rem;
    font-weight: 600; }

.table-wrap {
  padding: 1rem 3rem; }

.btn-account-edit, .btn-account-delete {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff; }
  .btn-account-edit:hover, .btn-account-delete:hover {
    color: #fff; }

.btn-account-edit {
  border: 1px solid #2e6da4;
  background-color: #337ab7; }

.btn-account-delete {
  border: 1px solid #4cae4c;
  background-color: #5cb85c; }

.pagination-group {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .pagination-group input[type="text"] {
    margin: 0 5px;
    width: 4rem;
    height: 3.5rem;
    text-align: center; }
  .pagination-group .go-page {
    margin: 0 10px;
    font-size: 1.6rem; }
  .pagination-group .determine {
    padding: 5px 13px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    color: #3382b7;
    cursor: pointer; }
    .pagination-group .determine:hover {
      background: #eee; }
  .pagination-group .pagination {
    display: block;
    padding: 0;
    margin: 0; }

/*修改密码*/
.pwd-group {
  padding: 10rem 15rem 30rem; }
  .pwd-group input {
    width: 30rem;
    height: 4rem;
    margin: 1rem; }
  .pwd-group input[type=submit] {
    margin-top: 2rem;
    margin-left: 8.5rem; }

.pwd-group .addId-btn {
  text-align: center; }
  .pwd-group .addId-btn input {
    width: 10rem;
    border: none;
    margin-left: 0; }
  .pwd-group .addId-btn .btn-success {
    margin-left: 7.3rem; }
  .pwd-group .addId-btn .btn-cancel {
    margin-left: 8.5rem; }

/*模块管理*/
.module-group {
  padding: 10rem 0 20rem; }
  .module-group .form-group {
    padding: 1rem 0;
    text-align: right; }
    .module-group .form-group input {
      width: 30rem;
      height: 4rem; }
    .module-group .form-group input[type=checkbox] {
      width: 1.5rem; }
    .module-group .form-group .text-left {
      text-align: left; }
    .module-group .form-group .required {
      position: static; }
  .module-group .control-label {
    padding-top: 1rem; }
  .module-group .addId-btn {
    margin-top: 1rem; }
    .module-group .addId-btn input {
      margin-right: 2rem; }

.select-role {
  width: 30rem;
  height: 4rem;
  margin: 1rem; }

/*# sourceMappingURL=id.css.map */
